name: release-please
on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Release Please
        uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: python

  publish:
    needs: release
    if: ${{ needs.release.outputs.release_created }}
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/python-cli-template
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Build package
        run: uv build

      - name: Publish package to PyPI
        run: uv publish

  upload:
    needs: release
    if: ${{ needs.release.outputs.release_created }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync --extra build

      - name: Build executable
        run: uv run pyinstaller python_cli_template.cli --name python-cli-template --onefile --clean

      - name: Compress executable
        shell: bash
        run: |
          if [[ $RUNNER_OS == 'Windows' ]]; then
            7z a -r archive.zip dist
          else
            zip -r archive.zip dist
          fi

      - name: Upload Release Artifact
        shell: bash
        run: |
          filename=$(echo $RUNNER_OS | tr '[:upper:]' '[:lower:]').zip
          mv archive.zip $filename
          gh release upload ${{ needs.release.outputs.tag_name }} $filename
        env:
          GH_TOKEN: ${{ github.token }}
