name: test
on: [push, pull_request]

permissions:
  contents: read

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Use Python
        uses: actions/setup-python@v6
        with:
          cache: pip
          python-version-file: pyproject.toml

      - name: Install dependencies
        run: pip install -e .[test]

      - name: Run tests and collect coverage
        run: |
          coverage run -m pytest
          coverage report
          coverage xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  install:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Use Python
        uses: actions/setup-python@v6
        with:
          cache: pip
          python-version-file: pyproject.toml

      - name: Install package
        run: pipx install .

      - name: Check version
        run: |
          version=$(grep version src/python_cli_template/__init__.py | cut -d'"' -f 2)
          set -e
          [[ $(python-cli-template --version) == $version ]]
          [[ $(python-cli-template -v) == $version ]]

      - name: Get help
        run: python-cli-template --help

  integration:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        command:
          - python-cli-template
          - python-cli-template --name test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Use Python
        uses: actions/setup-python@v6
        with:
          cache: pip
          python-version-file: pyproject.toml

      - name: Install package
        run: pipx install .

      - name: Run command
        run: ${{ matrix.command }}
